{{define "about-content"}}
<div class="bio">
  <p>I am from Malaysia, and moved to the US for my college education. I graduated from Northeastern University with a Bachelor of Science in Computer Science and Game Development.</p>
  <p>I speak English natively, Mandarin fluently, and Malay conversationally.</p>
  <p>I enjoy developing tools, as evident in my ventures in game engine development and programming languages. However, it is equally as important to me that I actually ship things. Computer science is my wife, and game development is my mistress. Portal 2 and The Witness are my two all-time favourite video games.</p>
  <p>Outside of programming, I enjoy cycling.</p>
</div>
{{end}}

{{define "about.html"}}
{{template "base" dict
  "Nav"     .Nav
  "Signals" .Signals
  "Content" "about-content"
}}
{{end}}
