{{define "about-content"}}
<div id="bio">
  <p>I am from Malaysia, and moved to the US for my college education.</p>
  <p>I enjoy developing tools and understanding how things work, as evident in my ventures in game engines and programming languages. However, it is equally as important to me that I actually ship things.</p>
  <p>I love playing and making video games. Portal 2 and The Witness are my two all-time favourite video games.</p>
  
  <h1>Education</h1>
  <p>B.S in Computer Science & Game Development from Northeastern University</p>
  <p>GPA: 3.98/4.0 (Dean's List)</p>
  <h1>Languages</h1>
  <p>English (Native), Mandarin (Fluent), Malay (Conversational)</p>
  <h1>Interests</h1>
  <p>Programming Languages, Software Architecture, Regular Architecture, Running, Cycling</p>
</div>
{{end}}

{{define "about.html"}}
{{template "base" dict
  "Nav"     .Nav
  "Signals" .Signals
  "Content" "about-content"
}}
{{end}}
