{{define "job-picker"}}
<div class="col-picker" id="col-picker">
  <div class="job-list" id="job-list" data-effect="snapToJob($jobFocus)">
    {{range $i, $job := .Jobs}}
    {{- $exp := $job.Specifics.Job -}}
    {{- $end := "Present" -}}{{if $exp.DateRange.End}}{{$end = deref $exp.DateRange.End}}{{end}}
    <div class="job-cell" data-on:click="$jobFocus = {{printf "%d" $i}}" data-class='{{htmlAttr (printf "{\"job-cell--active\": $jobFocus === %d}" $i)}}'>
      <span class="job-cell-company">{{$exp.Company}}</span>
      <span class="job-cell-role">{{$exp.Role}}</span>
      <span class="job-cell-range">{{$exp.DateRange.Start}} – {{$end}}</span>
    </div>
    {{end}}
  </div>
</div>
{{end}}
